<main>
  <!-- Breadcrumbs & Page title-->
  <section class="section-lg bg-gray-dark bg-image text-center" style="background-image: url(https://static1.squarespace.com/static/569e766e69492e9dd5373ef6/t/57a4eb0e6b8f5b333dc2698f/1470425961214/versailles-001.jpg?format=1500w);">
    <div class="shell">
      <div class="range range-sm-center">
        <div class="cell-sm-10 cell-md-8 cell-lg-7">
          <h3>Live like royalty</h3>
          <p class="big">rent your perfect dream.</p>
          <!-- RD Mailform-->
          <form class="rd-mailform form-inline form-center" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="#" novalidate="novalidate">
            <div class="form-wrap has-error">
              <input class="form-input form-control-has-validation" id="search" type="text" name="q">
            </div>
            <button class="button button-primary button-effect-ujarak button-square" type="submit"><span>Search</span></button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-sm bg-white text-center text-sm-left">
    <div class="shell-wide">
      <div class="range range-10 range-middle">
        <div class="cell-sm-6">
          <h3>Key Amenities</h3>
        </div>
        <div class="cell-sm-6 text-sm-right"><a class="heading-link link-gray-darker" href="services.html">See All Amenities</a></div>
      </div>
      <hr>
      <div class="range range-50">
        <div class="cell-xs-6 cell-md-3 wow fadeInUp" data-wow-delay=".1s">
          <article class="box-minimal">
            <div class="box-minimal-icon-big hotel-icon-03"></div>
            <h4 class="box-minimal-title">24-Hour Concierge Service</h4>
            <div class="box-minimal-divider"></div>
            <div class="box-minimal-text">The reception is opened 24 hours a day. Our receptionists inform our guests of all the hotel facilities and events, and ensure that everything is done to satisfy their needs during their stay.</div>
          </article>
        </div>
        <div class="cell-xs-6 cell-md-3 wow fadeInUp" data-wow-delay=".2s">
          <article class="box-minimal">
            <div class="box-minimal-icon-big hotel-icon-12"></div>
            <h4 class="box-minimal-title">Wine Consulting</h4>
            <div class="box-minimal-divider"></div>
            <div class="box-minimal-text">Each spa suite has been designed with volcanic rocks, thatched roofs with an open air bathroom, adding a truly magical and tranquil feeling for your well-being.</div>
          </article>
        </div>
        <div class="cell-xs-6 cell-md-3 wow fadeInUp" data-wow-delay=".3s">
          <article class="box-minimal">
            <div class="box-minimal-icon-big hotel-icon-30"></div>
            <h4 class="box-minimal-title">Transfer Services</h4>
            <div class="box-minimal-divider"></div>
            <div class="box-minimal-text">Enjoy a comfortable ride to our luxury  Spa resort and Hotel from the airport by booking our convenient shuttle services or private limos.</div>
          </article>
        </div>
        <div class="cell-xs-6 cell-md-3 wow fadeInUp" data-wow-delay=".4s">
          <article class="box-minimal">
            <div class="box-minimal-icon-big hotel-icon-29"></div>
            <h4 class="box-minimal-title">A La Carte Restaurant</h4>
            <div class="box-minimal-divider"></div>
            <div class="box-minimal-text">Our Restaurant is opened for breakfast, lunch, and dinner and specializes in gourmet cuisines from around the world, with a variety sure to please any palate.</div>
          </article>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-md bg-white text-center text-sm-left">
    <div class="shell-wide">
      <div class="range range-10 range-middle">
        <div class="cell-sm-6">
          <h3>Guest Rooms</h3>
        </div>
        <div class="cell-sm-6 text-sm-right"><a class="heading-link link-gray-darker" href="grid-gallery.html">See All Rooms</a></div>
      </div>
      <hr>
      <div class="range range-xs-center range-75">
        <div class="cell-md-4 cell-sm-6 wow fadeInUp" data-wow-delay=".1s"><a class="services-box services-box-custom" href="single-service.html">
            <figure><%= image_tag "rooms-1-570x380.jpg", width:570, height:380 %>
            </figure>
            <div class="services-box-caption">
              <div class="services-box-title">Standard Rooms</div><span class="services-box-price">From $75 Per Night</span>
            </div></a></div>
        <div class="cell-md-4 cell-sm-6 wow fadeInUp" data-wow-delay=".2s"><a class="services-box services-box-custom" href="single-service.html">
            <figure><%= image_tag "rooms-2-570x380.jpg", width:570, height:380 %>
            </figure>
            <div class="services-box-caption">
              <div class="services-box-title">King Guest Rooms</div><span class="services-box-price">From $78 Per Night</span>
            </div></a></div>
        <div class="cell-md-4 cell-sm-6 wow fadeInUp" data-wow-delay=".3s"><a class="services-box services-box-custom" href="single-service.html">
            <figure><%= image_tag "rooms-3-570x380.jpg", width:570, height:380 %>
            </figure>
            <div class="services-box-caption">
              <div class="services-box-title">Deluxe Suites</div><span class="services-box-price">From $95 Per Night</span>
            </div></a></div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="shell-wide">
      <div class="range range-condensed range-custom-bordered bg-primary">
        <div class="cell-xs-6 cell-sm-3">
          <div class="counter-box">
            <div class="counter" data-from="0" data-to="10">10</div>
            <p class="counter-box-header">YEARS OF EXPERIENCE</p>
          </div>
        </div>
        <div class="cell-xs-6 cell-sm-3">
          <div class="counter-box">
            <div class="counter" data-from="0" data-to="7">07</div>
            <p class="counter-box-header">spa treatment rooms</p>
          </div>
        </div>
        <div class="cell-xs-6 cell-sm-3">
          <div class="counter-box">
            <div class="counter" data-from="0" data-to="26">26</div>
            <p class="counter-box-header">face & body treatments</p>
          </div>
        </div>
        <div class="cell-xs-6 cell-sm-3">
          <div class="counter-box">
            <div class="counter" data-from="0" data-to="12">12</div>
            <p class="counter-box-header">types of massages</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Portfolio-->
  <section class="section section-md bg-white text-center text-sm-left">
    <div class="shell-wide">
      <div class="range range-10 range-middle">
        <div class="cell-sm-6">
          <h3>Exclusive concierge experience</h3>
        </div>
        <div class="cell-sm-6 text-sm-right">
          <!-- <a class="heading-link link-gray-darker" href="grid-gallery.html">See All Photos</a> -->
        </div>
      </div>
      <hr>
      <div class="isotope-wrap">
        <!-- Isotope Content-->
        <div class="row isotope" data-isotope-layout="masonry" data-isotope-group="gallery" data-photo-swipe-gallery="gallery">
          <div class="col-xs-12 col-sm-6 col-md-3 grid-sizer"></div>
          <div class="col-xs-12 col-sm-6 col-md-3 isotope-item wow fadeInUp" data-filter="Category 1" data-wow-delay=".1s"><a class="portfolio-item thumbnail-classic" href="gallery-1-533x800_original.jpg" data-photo-swipe-item="" data-size="533x800">
              <figure><%= image_tag "gallery-1-420x584.jpg", width:420, height:584 %>
              </figure>
              <div class="caption"><span class="icon mdi-thumb-up-outline">346</span><span class="icon mdi-eye">220</span></div></a>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 isotope-item wow fadeInUp" data-filter="Category 1" data-wow-delay=".2s"><a class="portfolio-item thumbnail-classic" href="gallery-2-1199x800_original.jpg" data-photo-swipe-item="" data-size="1199x800">
              <figure><%= image_tag "gallery-2-420x278.jpg", width:420, height:278 %>
              </figure>
              <div class="caption"><span class="icon mdi-thumb-up-outline">346</span><span class="icon mdi-eye">220</span></div></a>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 isotope-item wow fadeInUp" data-filter="Category 1" data-wow-delay=".4s"><a class="portfolio-item thumbnail-classic" href="gallery-3-584x800_original.jpg" data-photo-swipe-item="" data-size="584x800">
              <figure><%= image_tag "gallery-3-420x584.jpg", width:420, height:584 %>
              </figure>
              <div class="caption"><span class="icon mdi-thumb-up-outline">346</span><span class="icon mdi-eye">220</span></div></a>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 isotope-item wow fadeInUp" data-filter="Category 1" data-wow-delay=".5s"><a class="portfolio-item thumbnail-classic" href="gallery-4-1200x800_original.jpg" data-photo-swipe-item="" data-size="1200x800">
              <figure><%= image_tag "gallery-4-420x278.jpg", width:420, height:278 %>
              </figure>
              <div class="caption"><span class="icon mdi-thumb-up-outline">346</span><span class="icon mdi-eye">220</span></div></a>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 isotope-item wow fadeInUp" data-filter="Category 1" data-wow-delay=".3s"><a class="portfolio-item thumbnail-classic" href="gallery-5-1200x800_original.jpg" data-photo-swipe-item="" data-size="1200x800">
              <figure><%= image_tag "gallery-5-420x278.jpg", width:420, height:278 %>
              </figure>
              <div class="caption"><span class="icon mdi-thumb-up-outline">346</span><span class="icon mdi-eye">220</span></div></a>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 isotope-item wow fadeInUp" data-filter="Category 1" data-wow-delay=".6s"><a class="portfolio-item thumbnail-classic" href="gallery-6-1200x798_original.jpg" data-photo-swipe-item="" data-size="1200x798">
              <figure><%= image_tag "gallery-6-420x278.jpg", width:420, height:278 %>
              </figure>
              <div class="caption"><span class="icon mdi-thumb-up-outline">346</span><span class="icon mdi-eye">220</span></div></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Prices & testimonials-->
  <section class="section section-md bg-white text-center text-sm-left">
    <div class="shell-wide">
      <div class="range range-xs-center range-75 overflow-hidden">
        <div class="cell-lg-6 wow fadeInUp" data-wow-delay=".2s">
          <div class="tabs-custom tabs-horizontal tabs-complex" id="tabs-2">
            <div class="tabs-complex-title">
              <h3>Our Prices</h3>
              <!-- Nav tabs-->
              <ul class="nav nav-tabs">
                <li class="active"><a href="#tabs-2-1" data-toggle="tab">Massages</a></li>
                <li><a href="#tabs-2-2" data-toggle="tab">Treatments</a></li>
                <li><a href="#tabs-2-3" data-toggle="tab">Activities</a></li>
              </ul>
            </div>
            <hr>
            <!-- Tab panes-->
            <div class="tab-content">
              <div class="tab-pane fadeInDown animated active" id="tabs-2-1">
                <div class="services-single-box">
                  <div class="services-single-header">
                    <div class="services-single-title">Hot Stone Massage</div>
                    <div class="services-single-price">$95</div>
                  </div>
                  <p class="services-single-body">Enjoy this organic form of massage, where heated stones applied to the body stimulate the circulatory system, relax tense muscles, release toxins, and create a feeling of peacefulness.</p>
                </div>
                <div class="services-single-box">
                  <div class="services-single-header">
                    <div class="services-single-title">Relaxation Massage</div>
                    <div class="services-single-price">$55</div>
                  </div>
                  <p class="services-single-body">Customized for your body's need, the Relaxation Massage is a wonderful way to work your body's muscles while relieving tension and day-to-day stress.</p>
                </div>
                <div class="services-single-box">
                  <div class="services-single-header">
                    <div class="services-single-title">Deep Tissue Massage</div>
                    <div class="services-single-price">$60</div>
                  </div>
                  <p class="services-single-body">For the avid athlete and guests looking for a more intensive massage, the Deep Tissue Massage is designed to loosen muscles, alleviate pain and increase mobility.  This massage is both corrective and therapeutic.</p>
                </div>
              </div>
              <div class="tab-pane fadeInDown animated" id="tabs-2-2">
                <div class="services-single-box">
                  <div class="services-single-header">
                    <div class="services-single-title">Facial Treatments</div>
                    <div class="services-single-price">$48</div>
                  </div>
                  <p class="services-single-body">We are proud to offer facial services that address the needs of every skin type and condition. Each treatment is not only designed to produce a radiant complexion but to create total tranquility.</p>
                </div>
                <div class="services-single-box">
                  <div class="services-single-header">
                    <div class="services-single-title">Hydrotherapy Bath</div>
                    <div class="services-single-price">$26</div>
                  </div>
                  <p class="services-single-body">Our unique soaking tubs are designed to relax and soothe the body with warm water, spring filters, massage jets, and color therapy.</p>
                </div>
                <div class="services-single-box">
                  <div class="services-single-header">
                    <div class="services-single-title">Wraps and Treatments</div>
                    <div class="services-single-price">$42</div>
                  </div>
                  <p class="services-single-body">Our body treatments and wraps will hydrate and detoxify the skin. Let our certified technicians work with you to address your specific needs and bring your skin back to life.</p>
                </div>
              </div>
              <div class="tab-pane fadeInDown animated" id="tabs-2-3">
                <div class="services-single-box">
                  <div class="services-single-header">
                    <div class="services-single-title">Tennis Courts</div>
                    <div class="services-single-price">$35</div>
                  </div>
                  <p class="services-single-body">Whether you’re a seasoned player looking to play the same courts as legends or a beginner in search of instruction, we offer the courts and instructors who can make your tennis trip an unforgettable one.</p>
                </div>
                <div class="services-single-box">
                  <div class="services-single-header">
                    <div class="services-single-title">Fitness Classes</div>
                    <div class="services-single-price">$28</div>
                  </div>
                  <p class="services-single-body">Complete your spa experience with a workout. The Fitness Center is open 24 hours a day to hotel guests and spa guests have access during business hours.</p>
                </div>
                <div class="services-single-box">
                  <div class="services-single-header">
                    <div class="services-single-title">Yoga Classes</div>
                    <div class="services-single-price">$21</div>
                  </div>
                  <p class="services-single-body">Fusing traditional vinyasa methodology with the contemporary dynamic flow, this fluid practice links breath and movement integrates inner and outer alignment and balances strength with flexibility.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cell-lg-6 wow fadeInUp" data-wow-delay=".4s">
          <h3>Testimonials</h3>
          <hr>
          <div class="quote-carousel-wrap-vertical">
            <!-- Slick Carousel-->
            <div class="slick-slider carousel-parent" data-arrows="false" data-loop="true" data-dots="false" data-swipe="true" data-items="1" data-child="#child-carousel" data-for="#child-carousel" data-vertical="false" data-xs-vertical="false" data-sm-vertical="true" data-md-vertical="true" data-lg-vertical="true">
              <div class="item">
                <div class="quote-box quote-box-mod-1">
                  <div class="quote-box-header"><%= image_tag "quote-img-01-49x45.png", width:49, height:45 %>
                    <h4 class="quote-box-title"><a class="link link-gray-darker" href="#">Wonderful and friendly environment</a></h4>
                  </div>
                  <div class="quote-box-body">
                    <q>No better way to rediscover the joy in everyday living than at Royal Villas. Second time to visit and experience was just as powerful as the first. They exceeded all my expectation one again. This is the place to visit if you are looking for a high-quality spa!</q>
                  </div>
                  <div class="quote-box-footer">
                    <div class="quote-box-cite">
                      <cite>JULIE ADAMS</cite><span>Babysitter</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="quote-box quote-box-mod-1">
                  <div class="quote-box-header"><%= image_tag "quote-img-01-49x45.png", width:49, height:45 %>
                    <h4 class="quote-box-title"><a class="link link-gray-darker" href="#">Great atmosphere and level of customer service</a></h4>
                  </div>
                  <div class="quote-box-body">
                    <q>Got a Royal Villas certificate as a gift a few months ago, and I really had a fantastic spa experience there. I arrived early & was greeted warmly at the door. Surprisingly, I didn't have to wait. Everything was perfect. Highly recommend this amazing place to everybody!</q>
                  </div>
                  <div class="quote-box-footer">
                    <div class="quote-box-cite">
                      <cite>Sam Brown</cite><span>Journalist</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="quote-box quote-box-mod-1">
                  <div class="quote-box-header"><%= image_tag "quote-img-01-49x45.png", width:49, height:45 %>
                    <h4 class="quote-box-title"><a class="link link-gray-darker" href="#">Perfect spa services and attention to clients!</a></h4>
                  </div>
                  <div class="quote-box-body">
                    <q>The minute you walk out of the airport you are greeted with a warm welcome from Royal Villas staff member, and it doesn't stop. The staff truly seems to love their job and want to make sure your visit and stay is everything you expect.</q>
                  </div>
                  <div class="quote-box-footer">
                    <div class="quote-box-cite">
                      <cite>Jane Neddery</cite><span>Office manager</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="quote-box quote-box-mod-1">
                  <div class="quote-box-header"><%= image_tag "quote-img-01-49x45.png", width:49, height:45 %>
                    <h4 class="quote-box-title"><a class="link link-gray-darker" href="#">You have a great team of masseurs</a></h4>
                  </div>
                  <div class="quote-box-body">
                    <q>You have put together an amazing, wonderful, talented and thoughtful team of masseurs! I love the treatment I get when I come to beauty centre… everyone takes care of each other’s clients and not just their own, which makes me feel so pampered and cared for.</q>
                  </div>
                  <div class="quote-box-footer">
                    <div class="quote-box-cite">
                      <cite>Peter BROWN</cite><span>Journalist</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="slick-slider" id="child-carousel" data-for=".carousel-parent" data-arrows="false" data-loop="true" data-dots="false" data-swipe="true" data-center-mode="false" data-sm-center-mode="true" data-md-center-mode="true" data-lg-center-mode="true" data-center-padding="0.50" data-items="1" data-sm-items="3" data-md-items="3" data-lg-items="3" data-slide-to-scroll="1" data-vertical="false" data-xs-vertical="false" data-sm-vertical="true" data-md-vertical="true" data-lg-vertical="true">
              <div class="item">
                <figure><%= image_tag "about-05-100x100.jpg", class: "img-circle", width:100, height:100 %>
                </figure>
              </div>
              <div class="item">
                <figure><%= image_tag "about-04-100x100.jpg", class: "img-circle", width:100, height:100 %>
                </figure>
              </div>
              <div class="item">
                <figure><%= image_tag "about-02-100x100.jpg", class: "img-circle", width:100, height:100 %>
                </figure>
              </div>
              <div class="item">
                <figure><%= image_tag "about-03-100x100.jpg", class: "img-circle", width:100, height:100 %>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-sm bg-white">
    <div class="shell-wide">
      <div class="rd-google-map rd-google-map__model rd-google-map-custom" data-zoom="15" data-x="-73.9874068" data-y="40.643180">
        <ul class="map_locations">
          <li data-y="40.643180" data-x="-73.9874068">
            <p>9870 St Vincent Place, Glasgow, DC 45 Fr 45.</p>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <!-- Page Footer-->
  <footer class="page-footer text-left text-sm-left">
    <div class="shell-wide">
      <div class="page-footer-minimal">
        <div class="shell-wide">
          <div class="range range-50">
            <div class="cell-sm-6 cell-md-3 cell-lg-4 wow fadeInUp" data-wow-delay=".1s">
              <div class="page-footer-minimal-inner">
                <h4>Opening Hours</h4>
                <ul class="list-unstyled">
                  <li>
                    <div class="group-xs">
                      <div>
                        <dl class="list-desc">
                          <dt>Weekdays: </dt>
                          <dd class="text-gray-darker"><span>8:00–20:00</span></dd>
                        </dl>
                      </div>
                      <div>
                        <dl class="list-desc">
                          <dt>Weekends: </dt>
                          <dd class="text-gray-darker"><span>9:00–18:00</span></dd>
                        </dl>
                      </div>
                    </div>
                  </li>
                  <li>
                    <p class="rights">Royal Villas&nbsp;&copy;&nbsp;<span id="copyright-year"></span>.&nbsp;<br class="veil-sm"><a href="privacy-policy.html">Privacy Policy</a>
                      <!-- {%FOOTER_LINK}-->
                    </p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="cell-sm-6 cell-md-5 cell-lg-4 wow fadeInUp" data-wow-delay=".2s">
              <div class="page-footer-minimal-inner">
                <h4>Address</h4>
                <ul class="list-unstyled">
                  <li>
                    <dl class="list-desc">
                      <dt><span class="icon icon-sm mdi mdi-map-marker"></span></dt>
                      <dd><a class="link link-gray-darker" href="#">6036 Richmond hwy., Alexandria, VA, 2230</a></dd>
                    </dl>
                  </li>
                  <li>
                    <dl class="list-desc">
                      <dt><span class="icon icon-sm mdi mdi-phone"></span></dt>
                      <dd class="text-gray-darker">Call Us: <a class="link link-gray-darker" href="callto:#">+1 (409) 987–5874</a>
                      </dd>
                    </dl>
                  </li>
                </ul>
              </div>
            </div>
            <div class="cell-sm-8 cell-md-4 wow fadeInUp" data-wow-delay=".3s">
              <div class="page-footer-minimal-inner-subscribe">
                <h4>Join Our Newsletter</h4>
                <!-- RD Mailform-->
                <form class="rd-mailform rd-mailform-inline form-center" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="http://cdn.livedemo00.template-help.com/wt_63579/bat/rd-mailform.php">
                  <div class="form-wrap">
                    <input class="form-input" id="subscribe-email" type="email" name="email" data-constraints="@Email @Required">
                    <label class="form-label" for="subscribe-email">Enter your e-mail</label>
                  </div>
                  <button class="button button-primary-2 button-effect-ujarak button-square" type="submit"><span>Subscribe</span></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</main>
