<h1>Estates</h1>
<%= link_to "Create New Estate", new_estate_path %>
<ul>
  <% @estates.each do |estate| %>
    <li>
      <%= cl_image_tag estate.photos.first.path %>
      <%= estate.name  %>
      <%= link_to estate.name, estate_path(id: estate.id) %>
      | <%= link_to "Delete", estate_path(id: estate.id), method: :delete %>
    </li>
  <% end %>
</ul>
<section class="section section-md bg-white element-mod">
          <div class="shell">
            <div class="range range-xs-center range-md-justify range-30">
              <div class="cell-sm-7 cell-md-6">
                <div class="img-thumbnail-custom"><img class="img-responsive" src="images/team-mp-01-570x569.jpg" alt="" width="570" height="569"/>
                  <div class="caption">
                    <ul class="list-inline list-inline-sm">
                      <li>
                        <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                          <div class="unit__left"><span class="icon icon-sm text-gray-darker mdi mdi-phone text-middle"></span></div>
                          <div class="unit__body"><a class="link-gray" href="callto:#">+ 123 098 890 76 56</a></div>
                        </div>
                      </li>
                      <li>
                        <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                          <div class="unit__left"><span class="icon icon-sm text-gray-darker mdi mdi-email-outline text-middle"></span></div>
                          <div class="unit__body"><a class="link-gray" href="mailto:#">ts@demolink.org</a></div>
                        </div>
                      </li>
                      <li><a class="button button-gray-dark-outline button-square button-effect-ujarak" href="contacts.html"><span>Get in touch</span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="cell-sm-7 cell-md-5 text-sm-left">
                <h3>Theresa Smith</h3>
                <div class="team-member-position"><span>General Manager</span></div>
                <p>Theresa is our eyes and ears. You will rarely see her without radio,  walking the grounds, making sure everyone is happy and taken care of.</p>
                <!-- Blockquote default-->
                <div class="quote-default quote-default-left">
                  <div class="quote-body">
                    <div class="unit unit-xs-horizontal unit-xs-top unit-spacing-sm">
                      <div class="unit__left">
                        <svg x="0px" y="0px" width="37px" height="27px" viewbox="0 0 37 27">
                          <path d="M16.916,18.73c0,2.351-0.833,4.319-2.499,5.901C12.754,26.208,10.786,27,8.516,27  c-2.268,0-4.255-0.792-5.96-2.369c-1.703-1.582-2.552-3.477-2.552-5.679c0-2.208,1.022-4.891,3.064-8.054L9.879-0.018h6.585  l-4.202,11.471C15.365,12.847,16.916,15.275,16.916,18.73z M36.99,18.73c0,2.351-0.833,4.319-2.499,5.901  C32.828,26.208,30.86,27,28.588,27c-2.269,0-4.256-0.792-5.959-2.369c-1.702-1.582-2.555-3.477-2.555-5.679  c0-2.208,1.025-4.891,3.066-8.054l6.813-10.916h6.581l-4.197,11.471C35.437,12.847,36.99,15.275,36.99,18.73z"></path>
                        </svg>
                      </div>
                      <div class="unit__body">
                        <p class="quote-default-title">
                          <q>I’m glad to be a part of this spa resort. It has a very friendly team and a great atmosphere.</q>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="quote-footer">
                    <cite></cite>
                  </div>
                </div>
                <p>She is dedicated to customer service and makes sure every guest is treated like family from arrival to departure, always remembering names and guest facts for each person that passes through the spa resort.</p>
                <ul class="list-bars">
                  <li class="list-bars-item">
                    <!-- Progress Bar-->
                    <div class="progress-bar-bs progress-variant-primary">
                      <p class="list-bars-item-header">commitment</p>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                      </div><span class="caption">75%</span>
                    </div>
                  </li>
                  <li class="list-bars-item">
                    <!-- Progress Bar-->
                    <div class="progress-bar-bs progress-variant-primary">
                      <p class="list-bars-item-header">responsibility</p>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
                      </div><span class="caption">85%</span>
                    </div>
                  </li>
                  <li class="list-bars-item">
                    <!-- Progress Bar-->
                    <div class="progress-bar-bs progress-variant-primary">
                      <p class="list-bars-item-header">hospitality</p>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                      </div><span class="caption">80%</span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        <section class="section section-md bg-gray-light">
          <div class="shell">
            <h3>Rooms & Suites</h3>
            <p>Royal Villas offers the finest accommodations with unique designs that provide both a luxurious and relaxing environment. Specially <br> selected fabrics and finishes vary from room to room, offering guests a variety of beautiful and unique atmospheres to select from.</p>
            <div class="range range-30" data-photo-swipe-gallery="gallery">
              <div class="cell-sm-6 cell-md-4"><a class="thumbnail-classic" href="images/grid-gallery-1-1200x800_original.jpg" data-photo-swipe-item="" data-size="1200x800">
                  <figure><img src="images/grid-gallery-1-370x276.jpg" alt="" width="370" height="276"/>
                  </figure>
                  <div class="caption">
                    <p class="caption-title">Luxury Suites</p>
                    <p class="caption-text">Each suite has its own unique décor and arrangement.</p>
                  </div></a>
              </div>
              <div class="cell-sm-6 cell-md-4"><a class="thumbnail-classic" href="images/grid-gallery-2-1200x800_original.jpg" data-photo-swipe-item="" data-size="1200x800">
                  <figure><img src="images/grid-gallery-2-370x276.jpg" alt="" width="370" height="276"/>
                  </figure>
                  <div class="caption">
                    <p class="caption-title">Comfortable Accommodation</p>
                    <p class="caption-text">Each suite has its own unique décor and arrangement.</p>
                  </div></a>
              </div>
              <div class="cell-sm-6 cell-md-4"><a class="thumbnail-classic" href="images/grid-gallery-3-1058x800_original.jpg" data-photo-swipe-item="" data-size="1058x800">
                  <figure><img src="images/grid-gallery-3-370x276.jpg" alt="" width="370" height="276"/>
                  </figure>
                  <div class="caption">
                    <p class="caption-title">Cozy Atmosphere</p>
                    <p class="caption-text">Each suite has its own unique décor and arrangement.</p>
                  </div></a>
              </div>
              <div class="cell-sm-6 cell-md-4"><a class="thumbnail-classic" href="images/grid-gallery-4-1200x797_original.jpg" data-photo-swipe-item="" data-size="1200x797">
                  <figure><img src="images/grid-gallery-4-370x276.jpg" alt="" width="370" height="276"/>
                  </figure>
                  <div class="caption">
                    <p class="caption-title">Luxury Suites</p>
                    <p class="caption-text">Each suite has its own unique décor and arrangement.</p>
                  </div></a>
              </div>
              <div class="cell-sm-6 cell-md-4"><a class="thumbnail-classic" href="images/grid-gallery-5-1200x800_original.jpg" data-photo-swipe-item="" data-size="1200x800">
                  <figure><img src="images/grid-gallery-5-370x276.jpg" alt="" width="370" height="276"/>
                  </figure>
                  <div class="caption">
                    <p class="caption-title">Comfortable Accommodation</p>
                    <p class="caption-text">Each suite has its own unique décor and arrangement.</p>
                  </div></a>
              </div>
              <div class="cell-sm-6 cell-md-4"><a class="thumbnail-classic" href="images/grid-gallery-6-1200x800_original.jpg" data-photo-swipe-item="" data-size="1200x800">
                  <figure><img src="images/grid-gallery-6-370x276.jpg" alt="" width="370" height="276"/>
                  </figure>
                  <div class="caption">
                    <p class="caption-title">Cozy Atmosphere</p>
                    <p class="caption-text">Each suite has its own unique décor and arrangement.</p>
                  </div></a>
              </div>
            </div>
          </div>
        </section>
