<h1><%= @estate.name %></h1>
<p><%= @estate.description %></p>
<% @estate.photos.each do |photo| %>
  <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
<% end %>
<%= link_to "Book this castle", new_estate_booking_path(estate_id: @estate.id) %>
<%= link_to "Edit this Estate", edit_estate_path(id: @estate.id ) %>
<h1>Bookings</h1>
<ul>
  <% @estate.bookings.each do |booking| %>
    <li>
      Estate: <%= booking.estate.name %> |
      Init date: <%= booking.start_date %> |
      End date: <%= booking.end_date %> |
      Booked by: <%= booking.user.email %>
    </li>
  <% end %>
</ul>
